<div>       
    <div class="foot">
        <div class="row">
            <div class="col-md-3" align="center">
                <ul class="foot-ul"><a href="#">
                    <label class="item"><p>關於我們</p></label></a>
                </ul>
            </div>
            <div class="col-md-3"  align="center">
                <ul class="foot-ul"><a href="#">
                    <label class="item"><p>誠聘英才</p></label></a>
                </ul>
            </div>
            <div class="col-md-3"  align="center">
                <ul class="foot-ul"><a href="#">
                    <label class="item"><p>解決方案</p></label></a>
                </ul>
            </div>
            <div class="col-md-3" align="center">
                <ul class="foot-ul"><a href="#">
                    <label class="item"><p>關於我們</p></label></a>
                </ul>
            </div>

        </div><!-- end row -->
        <div class="row">
                <ul align="center">
                    <li>Copyright@2014</li>
                    <li>Fongs Consultancy and Management Ltd</li>
                    <li>All rights reseved</li>
                </ul>
         </div>
    </div>
    
</div>