<div>
<div class="honeybox"  align="center">
      <div class="secondHoney" align="center">
          <ul  class="hexagon"  id="first-1">
            <li class="hiveTop"></li>
            <li  class="hiveCenter"></li>
            <li  class="hiveBottom"></li>
          </ul>
            <ul  class="hexagon"  id="first-2">
            <li class="hiveTop2"></li>
            <li  class="hiveCenter2"></li>
            <li  class="hiveBottom2"></li>
          </ul>
            <ul  class="hexagon"  id="first-3">
            <li class="hiveTop3"></li>
            <li  class="hiveCenter3"></li>
            <li  class="hiveBottom3"></li>
          </ul>
            <ul  class="hexagon"  id="first-4">
            <li class="hiveTop"></li>
            <li  class="hiveCenter"></li>
            <li  class="hiveBottom"></li>
          </ul>
         
          <ul  class="hexagon"  id="second-1">
            <li class="hiveTop2"></li>
            <li  class="hiveCenter2"></li>
            <li  class="hiveBottom2"></li>
          </ul>
          <ul  class="hexagon"  id="second-2">
            <li class="hiveTop3"></li>
            <li  class="hiveCenter3"></li>
            <li  class="hiveBottom3"></li>
          </ul>
          <ul  class="hexagon"  id="second-3">
            <li class="hiveTop"></li>
            <li  class="hiveCenter"></li>
            <li  class="hiveBottom"></li>
          </ul>
          <ul  class="hexagon"  id="second-4">
            <li class="hiveTop2"></li>
            <li  class="hiveCenter2"></li>
            <li  class="hiveBottom2"></li>
          </ul>
          <ul  class="hexagon"  id="second-5">
            <li class="hiveTop3"></li>
            <li  class="hiveCenter3"></li>
            <li  class="hiveBottom3"></li>
          </ul>
         
         <ul  class="hexagon"  id="third-1">
            <li class="hiveTop"></li>
            <li  class="hiveCenter"></li>
            <li  class="hiveBottom"></li>
          </ul>
           <ul  class="hexagon"  id="third-2">
            <li class="hiveTop2"></li>
            <li  class="hiveCenter2"></li>
            <li  class="hiveBottom2"></li>
          </ul>
           <ul  class="hexagon"  id="third-3">
            <li class="hiveTop3"></li>
            <li  class="hiveCenter3"></li>
            <li  class="hiveBottom3"></li>
          </ul>
           <ul  class="hexagon"  id="third-4">
            <li class="hiveTop"></li>
            <li  class="hiveCenter"></li>
            <li  class="hiveBottom"></li>
          </ul>
    </div>
</div>
 <div class="main-search"  align="center">
            <div class="search">
                <form  action="#">
                  <div class="form-group has-feedback">
                      <input type="text" class="form-control" id="params"  ng-model="params"  placeholder="Search  with course's  name or  course's  key word."/>
                      <span class="glyphicon glyphicon-search form-control-feedback"></span>
                  </div>
                </form>
           </div>
        </div>

</div>